html,
body {
  font-family: 'Josefin Sans', sans-serif;
  overflow: hidden;
}

#saga {
  background-color: #1b1b1b;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -moz-transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#saga.dragover {
  opacity: 0.9;
}

#multitarget-references {
  bottom: 15%;
  left: 15%;
  position: absolute;
  right: 15%;
  top: 15%;
  visibility: hidden;
}

#multitarget-references li {
  float: left;
  height: 50%;
  width: 50%;
}

nav button {
  background-color: transparent;
  border: none;
  color: #fafafa;
  height: 41px;
  margin-top: -20px;
  overflow: hidden;
  opacity: 0.3;
  position: absolute;
  text-align: left;
  text-indent: -9999em;
  top: 50%;
  width: 26px;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

nav button:hover {
  opacity: 0.8;
}

.prev {
  background: url(../images/left.png);
  left: 5%;
}

.next {
  background: url(../images/right.png);
  right: 5%;
}

#upload-indicator {
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  color: #fff;
  padding: 10px 20px 20px;
  position: absolute;
  right: 0;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 2.4em;
  letter-spacing: 4px;
  margin-top: 40px;
  position: absolute;
  text-align: center;
  width: 100%;
}

h4 {
  font-size: 1.5em;
  line-height: 2em;
}

p {
  font-size: 1.2em;
}
